#topp{
    column-count:2;
}
img{
    width:300px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
}
.container{
    column-count:3;
    display:flex;
    flex-wrap:nowrap;
}
footer{
    text-align: center;
}
footer a{
    font-size:10px;
}
footer p{
    font-size:12px;
}